version: 2
jobs:
  build:
    machine: true

    steps:
      - checkout
            
      - run:
          name: build svr
          command: |
            pwd
            ls -la
            echo $GOPATH $GOROOT
            make pre-build
            make build-image

          
  build-push:
    machine: true

    steps:
      - checkout

      - run:
          name: build alpha
          command: 
            make pre-build
            make build-image
            make push-image

      - run:
          name: docker login
          command: |
            docker login -u $DOCKER_USER -p $DOCKER_PASS
  
      - run:
          name: push
          command: |
            docker push ahilaly/app-alpha:v1
            docker push ahilaly/app-beta:v1-alpine

workflows:
  version: 2
  build:
    jobs:
      - build:
          filters:
            branches:
              only:
               - test
               - dev
               - /dev-.*/
      - build-push:
          filters:
            branches:
              only:
                - master